.body_backgorund 
{
    background-image:url('hOye.gif');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}
#can
{
    background-color:white;
    border-style:ridge;
    border-color:purple;
    border-width:10px;
}

